@CHARSET "UTF-8";
#landq{
	background-color : yellow;
}

#flag*{
	
	width : 80px;
	height : 20px;
  
  position : absolute;
}
#infor*{
	
	width:80px;
	height:40px;
	
  position : absolute;
}
.northline>img {
	
	width: 80px;
	height: 20px;
	 
}

.eastline>img {
	
	width: 80px;
	height: 20px;
}

.southline>img {
	
	width: 80px;
	height: 20px;
}

.westline>img {
	
	width: 80px;
	height: 20px;
}

.northline {
	border: 1px solid black;
	width: 80px;
	height: 80px;
	float: left;
}

.eastline {
	border: 1px solid black;
	width: 80px;
	height: 80px;
	float: left;
}

.southline {
	border: 1px solid black;
	width: 80px;
	height: 80px;
	float: left;
}

.westline {
	border: 1px solid black;
	width: 80px;
	height: 80px;
	float: left;
}


#north {	
	width: 910px;
	height: 80px;
	position: absolute;
}

#east {
	width: 80px;
	height: 722px;
	float: right;
	margin: 81px 827px;
	position: absolute;
}

#south {	
	width: 910px;
	height: 80px;
	margin-top: 825px;
	position: absolute;
}

#west {	
	width: 80px;
	height: 722px;
	margin-top: 81px;
	position: absolute;
}

#center {
	float: left;
	margin: 82px 82px;
	width: 740px;
	height: 740px;
	position: absolute;
	
}

#dicediv{
	border : 1px solid green;
}

.dice{
	border :1px solid skyblue;
}

.diceline { 
   margin: 20px 10px 0px 20px; 
 } 
#dicediv{ 
	border : 1px solid blue; 
	position : relative; 
 	margin-left : 5px; 
 } 
 
 
#dicebtn { 
 	margin-left: 44px; 
 } 


#nara {
	border: 1px solid blue;
	width: 40px;
	height: 40px;
	position : absolute;
	
}
#hyojoo {
	border: 1px solid red;
	width: 40px;
	height: 40px;
	position : absolute;
	
}