@CHARSET "UTF-8";
#flag*{	
	width : 80px;
	height : 20px;
  position : absolute;
  
}
#infor*{	
	width:80px;
	height:40px;	
  position : absolute;
}
.northline>img {	
	width: 80px;
	height: 20px;	 
}

.eastline>img {	
	width: 80px;
	height: 20px;
}

.southline>img {	
	width: 80px;
	height: 20px;
}

.westline>img {	
	width: 80px;
	height: 20px;
}

.northline {
	border: 1px solid black;
	width: 80px;
	height: 80px;
	float: left;
}

.eastline {
	border: 1px solid black;
	width: 80px;
	height: 80px;
	float: left;
}

.southline {
	border: 1px solid black;
	width: 80px;
	height: 80px;
	float: left;
}

.westline {
	border: 1px solid black;
	width: 80px;
	height: 80px;
	float: left;
}


#north {	
	width: 910px;
	height: 80px;
	position: absolute;
}

#east {
	width: 80px;
	height: 722px;
	float: right;
	margin: 81px 827px;
	position: absolute;
}

#south {	
	width: 910px;
	height: 80px;
	margin-top: 825px;
	position: absolute;
}

#west {	
	width: 80px;
	height: 722px;
	margin-top: 81px;
	position: absolute;
}

#center {
	float: left;
	margin: 82px 82px;
	width: 740px;
	height: 740px;
	position: absolute;
	
}

#dicediv{
	border : 1px solid green;
}
#dice{
	width : 20%;
	height : 20%;
	margin-left : 140px;
	margin-top : 10px;
	
}

#naradiv{
	border : 1px solid blue;
	position : relative;
}
#hyojoodiv{
	border : 1px solid red;
	position : relative;
}
#minjungdiv{
	border : 1px solid green;
	position : relative;
}
#bomidiv{
	border : 1px solid orange;
	position : relative;
}
 
 


#nara {
	border: 1px solid blue;
	width: 40px;
	height: 40px;
	position : absolute;	
}
.nara{
	margin-left : 10px;
	margin-bottom : 10px;
}

#hyojoo {
	border: 1px solid red;
	width: 40px;
	height: 40px;
	position : absolute;	
}
.hyojoo{
	margin-right : 10px;
	margin-bottom : 10px;
}
#minjung {
	border: 1px solid green;
	width: 40px;
	height: 40px;
	position : absolute;	
}
.minjung{
	margin-right : 10px;
	margin-bottom : 10px;
}
#bomi {
	border: 1px solid orange;
	width: 40px;
	height: 40px;
	position : absolute;	
}
.bomi{
	margin-left : 10px;
	margin-bottom : 10px;
}
#centerbg{
	margin-bottom : -40px;
}