<table id='deliveryTable' class="table table-striped table-hover">
	<thead>
		<tr class="table_head">
		<th><input type="checkbox" class="check-all"></th>
			<th>상품코드</th>
			<th>상품명</th>
			<th>분류</th>
			<th>단위</th>
			<th>수량</th>
			<th id='a'>가격</th>
			<th id='b'>가격</th>
			<th id='c'>가격</th>
			<th>메모</th>
			<th>&nbsp;</th>
		</tr>
	</thead>

		{{#each deliverys}}
		<tr class="data-row">
			<td><input type="checkbox" data-no="{{gno}}" class="ab"></td>
			<td>{{gno}}</td>
			<td>{{gname}}</td>
			<td>{{gcat}}</td>
			<td>{{gunit}}</td>
			<td>{{oqty}}</td> 
			<td id='aa'>{{gprice_a}}</td>
			<td id='bb'>{{gprice_b}}</td>
			<td id='cc'>{{gprice_c}}</td>
			<td>{{gmemo}}</td>

			<!-- <td><button data-no='{{gno}}' class='my-delete-btn btn btn-danger'>삭제</button></td> -->
		</tr>												
		{{/each}}
		
</table> 
<script>
var mlevel;
$(document).ready(function() {
	$('.check-all').click(function() {
		$('.ab').prop('checked',this.checked);
	});
	mlevel = $('span').text();
	console.log("mlevel : ", mlevel);
	
	if(mlevel=='1'){
		console.log("1등급");
		 $('#deliveryTable tr').find('td:eq(7)').css('display','none');
		$('#deliveryTable tr').find('td:eq(8)').css('display','none');
		$('#b').css('display','none');
		$('#c').css('display','none');
		
		
		/* var aprice = ((int)$('#aa').find('td:eq(6)').text);
		var aqty = ((int)$('#aa').find('td:eq(5)').text);
		console.log("aprice : ", aprice*aqty); */
	} else if (mlevel =='2'){
		console.log("2등급");
		 $('#deliveryTable tr').find('td:eq(6)').css('display','none');
		$('#deliveryTable tr').find('td:eq(8)').css('display','none');
		$('#a').css('display','none');
		$('#c').css('display','none');
	} else if(mlevel =='3'){
		console.log("2등급");
		 $('#deliveryTable tr').find('td:eq(6)').css('display','none');
		$('#deliveryTable tr').find('td:eq(7)').css('display','none');
		$('#a').css('display','none');
		$('#b').css('display','none');
	}
});

/* 
$(document).on('click', '#deliveryTable tr', function(e) {

	$dname = $(this).find('td:eq(2)').html(); // 거래처명 */
/* $('#sumDiv').html(mlevel); */
/*if(mlevel == "1"){
	
}*/

/*		.css('display', 'none')*/

</script>
